$primary: #f4821f;

.gray-700
{
    color: #495057;
}

.gray-800
{
    color: #343a40;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";